apiVersion: 1

datasources:
    - name: Prometheus
      uid: prometheus
      type: prometheus
      access: proxy # Grafana hace la petición, no el navegador
      url: http://prometheus:9090
      isDefault: true
      jsonData:
          httpMethod: POST
          timeInterval: 15s # Informa a Grafana del scrape interval de Prometheus para sus cálculos internos
      editable: false
