apiVersion: 1
groups:
    - orgId: 1
      name: Endpoints Delay
      folder: alerts
      interval: 5m
      rules:
          - uid: bf96e6vi4uhhce
            title: Latencia de IA excesiva
            condition: C
            data:
                - refId: A
                  relativeTimeRange:
                      from: 600
                      to: 0
                  datasourceUid: prometheus
                  model:
                      editorMode: code
                      expr: rate(http_request_durations_seconds_sum{route=~"/api/v1/ai.*"}[5m]) / rate(http_request_durations_seconds_count{route=~"/api/v1/ai.*"}[5m])
                      instant: true
                      intervalMs: 1000
                      legendFormat: __auto
                      maxDataPoints: 43200
                      range: false
                      refId: A
                - refId: C
                  datasourceUid: __expr__
                  model:
                      conditions:
                          - evaluator:
                                params:
                                    - 20
                                type: gt
                            operator:
                                type: and
                            query:
                                params:
                                    - C
                            reducer:
                                params: []
                                type: last
                            type: query
                      datasource:
                          type: __expr__
                          uid: __expr__
                      expression: A
                      intervalMs: 1000
                      maxDataPoints: 43200
                      refId: C
                      type: threshold
            noDataState: OK
            execErrState: Alerting
            for: 5m
            annotations:
                summary: La latencia del endpoint de IA ha superado los 20 segundos
                description: El tiempo de respuesta promedio del endpoint /api/v1/ai.* es {{ $values.A.Value }}s, que excede el umbral de 20s
            labels:
                severity: warning
                endpoint: ai
            isPaused: false
            notification_settings:
                receiver: email-notifications
